.bannerAbout {
    width: 1240px;
    height: 233px;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    @include verticalItemContentCenterElement;
    @media screen and (max-width: 400px) {
        width: 335px;
        height: 111px;
    }
}
.bannerAbout__img1 {
    width: 100%;
    height: 233px;
    border-radius: 25px;
    object-fit: cover;
    @media screen and (max-width: 400px) {
        display: none;
    }
}
.bannerAbout__img2 {
    display: none;
    @media screen and (max-width: 400px) {
        display: block;
        height: 111px;
        width: 100%;
        height: 233px;
        border-radius: 25px;
        // object-fit: cover;
    }
}

.banner__filter {
    opacity: 30%;
    border-radius: 25px;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
}
