.collapse__rental {
    width: 1240px;
    margin: auto;
    margin-bottom: 40px;
    @include rowFlexStartBetweenElement;
    @media screen and (max-width: 400px) {
        width: 335px;
        flex-direction: column;

        margin-bottom: 15px;
    }
    .collapse__bloc {
        display: flex;
        width: 582px;
        position: relative;
        flex-direction: column;
        @media screen and (max-width: 400px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .collapse__rentalheader {
        height: 52px;
        position: relative;
        top: 10px;
        background-color: $color-1;
        padding: 15px;
        border-radius: 5px;
        @include rowCenterBetwwenElement;
        @media screen and (max-width: 400px) {
            height: 30px;
            width: 335px;
        }
    }
    .collapse__rentaltitle {
        color: $color-4;
        font-size: 26px;
        p {
            font-size: 18px;
            @media screen and (max-width: 400px) {
                font-size: 13px;
            }
        }
    }
    .collapse__rentalbtn {
        background: none;
        border: none;
    }
    .collapse__arrowUp1 {
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
    .collapse__arrowUp2 {
        display: none;
        @media screen and (max-width: 400px) {
            display: block;
        }
    }
    .collapse__arrowDown1 {
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
    .collapse__arrowDown2 {
        display: none;
        @media screen and (max-width: 400px) {
            display: block;
        }
    }
    .collapse__rental__content {
        background-color: $color-2;
        border-radius: 5px;
        font-family: $font;
        height: auto;
        text-align: justify;
        padding: 20px 15px 15px;
        font-size: 18px;
        font-weight: 400;
        ul {
            font-weight: 400;
            font-size: 18px;
            @media screen and (max-width: 400px) {
                font-size: 12px;
            }
        }
        @media screen and (max-width: 400px) {
            font-size: 12px;
            padding: 25px 20px;
        }
    }
}
