.error {
    width: 900px;
    height: auto;
    margin: auto;
    padding-top: 100px;
    @include verticalItemContentCenterElement;
    @media screen and (max-width: 400px) {
        width: 335px;
    }
    .error__404 {
        font-size: 288px;
        font-weight: 700;
        @media screen and (max-width: 400px) {
            width: 198px;
            height: 99px;
            font-size: 96px;
            font-weight: 700;
        }
    }
    .error__message {
        font-size: 36px;
        @media screen and (max-width: 400px) {
            font-size: 18px;
            width: 260px;
            text-align: center;
            height: 52px;
        }
    }
    p {
        margin-bottom: 100px;
    }
    a {
        color: $color-1;
    }
}
.backToAcceuil {
    font-size: 18px;
    @media screen and (max-width: 400px) {
        font-size: 14px;
        width: 221px;
    }
}
