.gallery {
    width: 1240px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: $color-2;
    padding: 55px 55px 0 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 400px) {
        width: 335px;
        flex-direction: column;
        margin-bottom: 0px;
        padding: 0;
        background-color: $color-4;
    }
}
