.info__ratings {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    @media screen and (max-width: 400px) {
        order: 1;
        width: 50%;
        justify-content: flex-start;
        padding-top: 10px;
    }
    .ratings__bloc {
        width: 196px;
        height: 36px;
        display: flex;
        @media screen and (max-width: 400px) {
            width: 98px;
            height: 18px;
            justify-content: space-around;
            align-items: baseline;
        }
    }
    .rating__star {
        margin: auto;
        width: 24.75px;
        height: 24px;
        @media screen and (max-width: 400px) {
            width: 13px;
            height: 13px;
            margin: 0;
        }
    }
}
