@font-face {
    font-family: "Monserrat", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}

$color-1: #ff6060;
$color-2: #f6f6f6;
$color-3: black;
$color-4: white;
@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centerElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin horizontalElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Monserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background: $color-4;
    font-family: "Monserrat", sans-serif;
    color: $color-1;
    margin: auto;
    width: 1440px;
    @media screen and (max-width: 400px) {
        width: 375px;
    }
}
ul,
li,
p,
h1,
h2,
h3 {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
}
ul {
    font-size: 14px;
    font-family: "Monserrat", sans-serif;
}
li {
    list-style-type: none;
}
h2 {
    font-size: 36px;
}
p {
    font-size: 18px;
    font-weight: 500;
}
